Repository dotkom/onlineweb4, pull requests merged in 2018-10, with the labels that each got.

#2142 Show members button always visible when attending a social event
  templates/events/details.html
Labels: hacktoberfest

#2141 Add payment deadlines in dashboard/attendee-list
  apps/events/models.py
  assets/dashboard/events/less/events.less
  templates/events/dashboard/details/attendees.html
Labels: Location: Dashboard, Package: Event, hacktoberfest

#2139 Restyle privacy page
  assets/profiles/less/profiles.less
  templates/profiles/privacy.html
Labels: Package: Profile, hacktoberfest

#2138 Attendances logging and notifications
  apps/events/dashboard/utils.py
  apps/events/models.py
  templates/events/email/unattend.txt
Labels: hacktoberfest
