Repository dotkom/onlineweb4, pull requests merged in 2019-09, with the labels that each got.

#2320 Added a new template redirecting to the new saldo payment page on beta
  templates/profiles/index.html
  templates/profiles/saldo_redirect.html
Labels: Easy, Priority: Critical

#2323 Tweak API to enable event payments in OWF
  apps/payment/serializers.py
  files/static/js/libs/jquery.cookie.js
  files/static/js/payment.js
  files/static/js/saldo.js
  files/static/js/webshop.js
  templates/events/details.html
  templates/events/payment_tag.html
  templates/profiles/index.html
  templates/profiles/saldo.html
  templates/profiles/saldo_redirect.html
  templates/webshop/checkout.html
Labels: Priority: Critical

#2335 Create an API for the OIDC client
  apps/authentication/api/tests/group_tests.py
  apps/authentication/api/tests/user_data_tests.py
  apps/careeropportunity/tests.py
  apps/companyprofile/tests.py
  apps/events/tests/api_tests.py
  apps/events/views.py
  apps/online_oidc_provider/__init__.py
  apps/online_oidc_provider/admin.py
  apps/online_oidc_provider/apps.py
  apps/online_oidc_provider/authentication.py
  apps/online_oidc_provider/claims.py
  apps/online_oidc_provider/migrations/__init__.py
  apps/online_oidc_provider/models.py
  apps/online_oidc_provider/serializers.py
  apps/online_oidc_provider/test.py
  apps/online_oidc_provider/tests/api_tests.py
  apps/online_oidc_provider/urls.py
  apps/online_oidc_provider/views.py
  apps/payment/tests/api_tests.py
  apps/sso/tests.py
  apps/webshop/tests/api_tests.py
  onlineweb4/permissions.py
  onlineweb4/settings/base.py
  onlineweb4/settings/django.py
  onlineweb4/settings/rest_framework.py
  onlineweb4/urls.py
Labels: Location: External (SSO), Priority: Medium, Status: Review Needed, Type: Feature

#2336 Refactor payment status changes to use pre-save signal
  apps/payment/appconfig.py
  apps/payment/models.py
  apps/payment/signals.py
Labels: Easy, Package: Payment, Status: Review Needed, Type: Code Quality, Type: Enhancement, Type: Refactor
